@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lato&display=swap');

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-color: black;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.container {
  background-color: hsl(216, 12%, 8%);
  margin: 0px 85px;
  padding: 90px 40px;
  border-radius: 20px;
}

img {
  background-color: hsl(213, 19%, 18%);
}

h1 {
  color: white;
}

p {
  color: hsl(217, 12%, 63%);
}

.btn-rating-container {
  display: flex;
  justify-content: space-between;
}

.rating-btn {
  padding: 20px 25px;
  border-radius: 50%;
  background-color: hsl(213, 19%, 18%);
  color: hsl(216, 12%, 54%);
  border: none;
  margin-top: 10px;
}
